package {{.Package}} //the package where it is placed

{{range .CGoOptions}}// #cgo {{.}} {{end}}
{{range .Includes}}// #include {{.}} {{end}}
// #include "cuda.h"
import "C"
import (
    "sync"
)

type {{.Name}}Args struct {
    sync.Mutex
    {{range .Args}}{{.}}{{end}}
}

func {{.Name}}Sync(blocks: int, threads: int, args: {{.Name}}Args) error {
    
}

func {{.Name}}ASync(blocks: int, threads: int, args: {{.Name}}Args) (error, <-chan bool) {
    
}